{% extends "base.njk" %}

{% block content %}
<section class="site-about-description">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p>{{ content | safe }}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}