{% extends "base.njk" %}

{% block content %}
    <section class="site-contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <h1 class="site-contact-title">
              {{title}}<span>{{subTitle}}</span>
            </h1>
          </div>
          <div class="col-lg-6 ml-auto">
            <div class="site-contact-form">
              <h4>{{formTitle}}</h4>
              <form method="POST" action="https://api.web3forms.com/submit">
                <input type="hidden" name="access_key" value="f3c2d3cd-1e91-41cc-af62-ba6505e0e4cf">
                <div class="row">
                  <div class="col-lg-6">
                    <input type="text" class="form-control" name="first-name" id="first-name" placeholder="Όνομα" required>
                  </div>
                  <div class="col-lg-6">
                    <input type="text" class="form-control" name="phone" id="phone" placeholder="Τηλέφωνο" required>
                  </div>
                  <div class="col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                  </div>
                  <div class="col-lg-6">
                    <input type="text" class="form-control" name="car-brand" id="car-brand" placeholder="Μάρκα Οχήματος" required>
                  </div>
                  <div class="col-12">
                    <textarea class="form-control" name="description" id="description" rows="6" placeholder="Περιγραφή Εργασιών/Σχόλια" required></textarea>
                  </div>
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary">
                      <span class="btn-area">
                        <span data-text="{{btnText}}">
                          {{btnText}}
                        </span>
                      </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

{% block workTogether %}{% endblock %}
